@import "tailwindcss";

body {
	margin: 0;
	place-items: center;
	min-height: 100vh;
	background-color: black;
}

/* transisi scroll */
.reveal {
	opacity: 0;
	transform: translateY(30px);
	transition: all 0.8s ease-out;
}

.reveal.active {
	opacity: 1;
	transform: translateY(0);
}

.text-shadow {
	text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.45);
}

.hero,
.section-undangan,
.section-rundown,
.section-alamat,
.section-pesan {
	background-position: center;
	background-size: cover;
}

.hero {
	min-height: 100dvh;
	width: 100%;
	background-image: url("/src/background/bg-hero.webp");
}

.section-undangan {
	background-image: url("/src/background/bg-undangan.webp");
}

.section-rundown {
	background-image: url("/src/background/bg-rundown.webp");
}

.section-alamat {
	background-image: url("/src/background/bg-alamat.webp");
}

.section-pesan {
	background-image: url("/src/background/bg-pesan.webp");
}

.card-ucapan {
	max-width: 80vw;
	height: max-content;
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.2),
		rgba(255, 255, 255, 0.05)
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 2rem;
}

.judul-ucapan {
	margin-bottom: 2rem;
	font-family: "Birthstone", cursive;
	font-style: normal;
}

.nama-ucapan {
	margin-top: 2rem;
}

.foto-orang {
	width: 150px;
	height: 150px;
}

.counter {
	margin-top: 25px;
	display: flex;
	gap: 15px;
	justify-content: center;
	flex-wrap: wrap;
}

.time-box {
	background: rgba(255, 255, 255, 0.15);
	padding: 12px 18px;
	border-radius: 12px;
	text-align: center;
	min-width: 70px;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.time-box span {
	font-size: 28px;
	font-weight: bold;
	display: block;
	color: #ffeb3b;
}

.time-box small {
	font-size: 12px;
	color: #6d7903;
}

.section-undangan,
.section-alamat,
.section-rundown,
.section-pesan {
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;
}

.undangan-box,
.alamat-box,
.rundown-box,
.pesan-box {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 20px;
	padding: 30px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
	text-align: center;
	backdrop-filter: blur(1.5px);
}

.undangan-box h2 {
	margin-bottom: 20px;
	color: #facc15;
}

.undangan-text {
	margin: 15px 0;
	line-height: 1.7;
}

.data-acara {
	margin: 25px 0;
	padding: 20px;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.4);
	text-align: left;
}

.data-acara p {
	margin: 8px 0;
}

.penutup {
	margin-top: 25px;
	font-weight: bold;
	color: #facc15;
}

td {
	padding: 0.2rem;
}

.pesan-buble {
	background-color: hsl(214, 94.6%, 92.7%);
	padding: 0.5rem;
	border-radius: 5px;
	text-align: left;
	color: hsl(221, 39.3%, 11%);
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.nama-pesan {
	font-weight: 900;
	border-bottom: 1px solid hsl(222, 47.4%, 11.2%);
	font-size: 1.5rem;
}

.isi-pesan {
	padding: 0.5rem;
}
